<section id="gallery" class="bg-light-gray">

	<div class="container">
        <div class="row">
	    	<div class="col-lg-12 text-center">
				<h2 class="section-heading">Впечатления с прошлых туров</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 2em;">
                    Посмотрите как проходили наши прошлые поездки!
                </h3>
	   		</div>
	   	</div>

	   	<div class="row">
	   		<div id="slider-container" class="col-md-12">

{% slider height="400" %}

![](/img/gallery/gruzija-1.0/foto-01.jpg)
![](/img/gallery/gruzija-1.0/foto-02.jpg)
![](/img/gallery/gruzija-1.0/foto-03.jpg)
![](/img/gallery/gruzija-1.0/foto-04.jpg)
![](/img/gallery/gruzija-1.0/foto-05.jpg)
![](/img/gallery/gruzija-1.0/foto-06.jpg)
![](/img/gallery/gruzija-1.0/foto-07.jpg)
![](/img/gallery/gruzija-1.0/foto-08.jpg)
![](/img/gallery/gruzija-1.0/foto-09.jpg)
![](/img/gallery/gruzija-1.0/foto-10.jpg)
![](/img/gallery/gruzija-1.0/foto-11.jpg)
![](/img/gallery/gruzija-1.0/foto-12.jpg)
![](/img/gallery/gruzija-1.0/foto-13.jpg)
![](/img/gallery/gruzija-1.0/foto-14.jpg)
![](/img/gallery/gruzija-1.0/IMG_7039.jpg)
![](/img/gallery/gruzija-1.0/IMG_7062.jpg)
![](/img/gallery/gruzija-1.0/IMG_7234.jpg)
![](/img/gallery/gruzija-1.0/IMG_7241.jpg)
![](/img/gallery/gruzija-1.0/IMG_7292.jpg)
![](/img/gallery/gruzija-1.0/IMG_7348.jpg)
![](/img/gallery/gruzija-1.0/IMG_7354.jpg)
![](/img/gallery/gruzija-1.0/IMG_7404.jpg)
![](/img/gallery/gruzija-1.0/IMG_7410.jpg)
![](/img/gallery/gruzija-1.0/IMG_7556.jpg)
![](/img/gallery/gruzija-1.0/IMG_7561.jpg)
![](/img/gallery/gruzija-1.0/IMG_7586.jpg)
![](/img/gallery/gruzija-1.0/IMG_7603.jpg)
![](/img/gallery/gruzija-1.0/IMG_7680.jpg)
![](/img/gallery/gruzija-1.0/IMG_7766.jpg)
![](/img/gallery/gruzija-1.0/gruzia-0.jpg)
![](/img/gallery/gruzija-1.0/gruzia-1.jpg)
![](/img/gallery/gruzija-1.0/gruzia-2.jpg)
![](/img/gallery/gruzija-1.0/gruzia-3.jpg)
![](/img/gallery/gruzija-1.0/gruzia-4.jpg)
![](/img/gallery/gruzija-1.0/gruzia-5.jpg)
![](/img/gallery/gruzija-1.0/gruzia-6.jpg)
![](/img/gallery/gruzija-1.0/gruzia-7.jpg)

{% endslider %}

				<br><br>
			</div>
		</div>

	</div>

</section>