<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Программа</h2>
                    <h3 class="section-subheading text-muted">Даты проведения тура 27 октября - 2 ноября 2019</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/plane.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>6 июля</h4>
                                    <h4 class="subheading">Прибытие в аэропорт Тбилиси</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Встреча в аэропорту и трансфер в Кахетию
                                        <br><br>
                                        Заселение в элегантный отель в Телави, столице Кахетии - винного региона Грузии.
                                        <br><br>
                                        <b>Совместный выход в ресторан. *</b>
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/old.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>7 июля</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастер-класс - Настрой и собственное состояние (работа с внутренним миром человека, познание себя, обретение душевного равновесия)
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастер-класс - Эмоции, интеллект и воображение (развитие творческого потенциала, владение собственными эмоциями, развитие коммуникабельности)
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gory.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>8 июля</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастер-класс - Освобождение от “зажимов” (снятие психологических и физических зажимов)
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастер-класс - Как бороться с упадком сил? (практические тренинги по борьбе с внутренним ЛЕНИВЫМ “Я”)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/walls.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>9 июля</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастер-класс - Психологический портрет (знакомство с собой, через наблюдение за окружающим миром)
                                        <br><br>
                                        Мастер-класс - Распознавание мотивов (тренинги “Мотиваторы”)
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастер-класс - Создание образа и атмосферы (Актер - универсальный человек)
                                        <br><br>
                                        Мастер-класс - Создание спектакля 
                                        <br><br>
                                        Мастер-класс - Импровизация
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/villa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10 июля</h4>
                                    <h4 class="subheading">Кахетинский обед и кулинарные мастер-классы</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        В <b>Цинандали</b> находится поместье князей Чавчавадзе (19-го века). Это место во многом символичное для Грузии. Отсюда начиналась европеизация Грузии, Российско-Грузинская интеграция. В поместье часто собиралась знатные люди из России.
                                        Сегодня здесь находится дом – музей, большой парк с редкими растениями, старинный винный погреб.
                                        <br><br>
                                        <b>Кахетинский обед и кулинарные мастер-классы.</b>
                                        Мы научимся готовить шоти (грузинский хлеб), сделаем самые вкусные хинкали и приготовим чурчхелу на десерт и конечно же наш обед дополнит настоящее грузинское вино. 
                                        <br><br>
                                        Возвращение в отель
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11 июля</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастерклассы.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>12 июля</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастерклассы.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>13 июля</h4>
                                    <h4 class="subheading">Теплое прощание</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Выезд в аэропорт
                                        <br><br>
                                        <b>NB!</b>
                                        Все, обозначенное *, не входит в стоимость тура. Порядок мероприятий в программе может меняться, но с сохранением всех указанных мероприятий.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image" style="padding-top:1em;">
                                <h4>Едем<br>вместе !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>