<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Программа</h2>
                    <h3 class="section-subheading text-muted">Даты проведения тура 03.05-11.05 2022.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/plane.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>03 мая, 04 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Прибытие в аэропорт Тбилиси
                                        <br><br>
                                        Трансфер в город Телави.
                                        <br><br>
                                        Заселение в бутик-отель в Телави, столице Кахетии - винного региона Грузии.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/old.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>04 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Заселение в гостиницу.
                                        <br><br>
                                        Отдых с дороги.
                                        <br><br>
                                        Обед*.
                                        <br><br>
                                        Обзорная экскурсия по региону.
                                        <br><br>
                                        Кахетия – удивительный край к востоку от Тбилиси, с красивыми озерами и водопадами, старинными винодельнями и пещерными монастырями, с богатой вкуснейшей кухней и гостеприимством, где каждый гость считается ангелом.  Такие бренды, как Алазанская долина и харизматичный Мимино в исполнении В. Кикабидзе, прославили её ещё при СССР.
                                        <br><br>
                                        <b>Совместный выход в ресторан. *</b>
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gory.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>05 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        <b>Тренинг - “Постановка цели”.</b>
                                        <br><br>
                                        Вы узнаете как добиваться своей цели в любых ситуациях, используя внутренние ресурсы и мотиваторы.
                                        <br><br>
                                        Перерыв на обед*.
                                        <br><br>
                                        <b>Тренинг - “Свобода мышления и креатив”</b>
                                        <br><br>
                                        Вы узнаете насколько вы креативны и умеете создавать уникальные вещи практически из ничего. 
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/walls.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        <b>Тренинг - “Эмоциональный интеллект”</b>
                                        <br><br>
                                        Тренинг направлен на улучшение навыков и способностей человека распознавать эмоции, понимать намерения, мотивацию и желания других людей и свои собственные, а также способность управлять своими эмоциями и эмоциями других людей в целях решения практических задач
                                        <br><br>
                                        Перерыв на обед*.
                                        <br><br>
                                        <b>Тренинг - “Эмпатия”</b>
                                        <br><br>
                                        Продолжение предыдущего тренинга. Практические занятия на свежем воздухе
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/villa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>07 мая</h4>
                                    <h4 class="subheading">Экскурсии</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        В течение дня фотосессия с профессиональным фотографом. 
                                        <br><br>
                                        Наш фотограф Торнике не только большой профессионал своего дела, но и легкий в общении человек, который находит подход к каждому.
                                        <br><br>
                                        <b>Посещение поместья Цинандали.</b>
                                        <br><br>
                                        Завтракаем и отправляемся на экскурсию в Цинандали на целый день.
                                        <br><br>
                                        В Цинандали находится поместье князей Чавчавадзе (19-го века). Это место во многом символичное для Грузии. Отсюда начиналась Российско-Грузинская интеграция. В поместье часто собирались влиятельные представители интеллигенция. Сегодня здесь находится дом – музей, большой парк с редкими растениями и старинный винный погреб.                                        
                                        <br><br>
                                        <b>Кахетинский обед и кулинарные мастер-классы.</b>
                                        <br><br>
                                        Мы научимся готовить шоти, сделаем самые вкусные хинкали и приготовим чурчхелу на десерт и, конечно же, наш обед дополнит настоящее грузинское вино.
                                        <br><br>
                                        В заключение этого дня насладимся настоящим грузинским многоголосием, которое включено в список нематериального наследия UNESCO.
                                        <br><br>
                                        Возвращаемся в отель довольные и счастливые ;)
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>                 

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        На выбор: свободное время или интерактивная игра
                                        <br><br>
                                        Обед*
                                        <br><br>
                                        <b>Тренинг  - “Страхи и зажимы”</b>
                                        <br><br>
                                        Мы познакомимся со своими страхами, постараемся с ними подружится и найдем в них энергию для себя. 
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>09 мая</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        <b>Тренинг - “Я актер - Я человек”.</b>
                                        <br><br>
                                        Через создание сценического образа, Вы посмотрите на себя со стороны, поговорите с собой “новым”
                                        <br><br>
                                        Обед*
                                        <br><br>
                                        Финальный тренинг 
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10 мая</h4>
                                    <h4 class="subheading">Тбилиси</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Трансфер и заселение в гостиницу в Тбилиси
                                        <br><br>
                                        Свободное время
                                        <br><br>
                                        Ночная пешеходная экскурсия по Тбилиси. 
                                        Вас ждет атмосферная интерактивная прогулка с элементами волшебства.
                                        <br><br>
                                        Старый Тбилиси — это место, где дух прошлого витает среди аутентичных построек из камня и глины, а атмосфера средневековья очаровывает путешественников. Кажется, что время замерло здесь навсегда. «Дзвели калаки» — так по-грузински называется квартал на берегу реки Кура (Мтквари) у подножия горы Мтацминда. Эту территорию город занимал в XII веке. Мы увидим храм Метехи, церковь Анчисхати, серные бани, кафедральный собор Сиони и дворец царицы Дареджан и многое другое.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>11 мая</h4>
                                    <h4 class="subheading">Теплое прощание</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Выезд в аэропорт
                                        <br><br>
                                        <b>NB!</b>
                                        Все, обозначенное *, не входит в стоимость тура. Порядок мероприятий в программе может меняться, но с сохранением всех указанных мероприятий.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image" style="padding-top:1em;">
                                <h4>Едем<br>вместе !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>