    <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row text-center" style="margin-top:2em;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Организация проживания</h4>
                    <p class="text-muted">
                        В Кахетии - Уютный отель с бассейном под открытым небом в городе Телави.
                        <br><br>
                        <img src="/img/gallery/hotel-telavi/hotel-08.jpg" class="img-responsive img-thumbnail" alt="hotel Telavi">
                        <br><br>
                        

                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Что включено в тур</h4>
                    <p class="text-muted">
                        Проживание и завтраки
                        <br><br>
                        Размещение в отеле и завтрак “шведский стол”
                        <br><br>
                        Развлечения
                        Все экскурсии по Кахетии и Алазанской долины, кулинарные мастер-классы
                        <br><br>
                        Трансферы
                        <br><br>
                        Тренинги и лекции 
                        <br><br>
                        Услуги профессионального фотографа
                        <br><br>
                        <b>Что не включено в стоимость тура</b>
                        <br><br>
                        Перелеты, 
                        Обеды и ужины,
                        Совместный ужин в грузинском ресторане.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Развлечения и досуг в туре</h4>
                    <p class="text-muted">
                        Несомненно, с Грузией невозможно близко познакомиться за неделю, но мы приложим все силы для того, чтобы показать вам все лучшее и самое интересное. Мы запланировали для вас экскурсии по Кахетии и Алазанской долине. Вас ждут познавательные и душевные мастер-классы по приготовлению хинкали и чурчхелы. 
                        <br><br>
                        Мы познакомимся с традициями Грузии, и в их числе с грузинским многоголосием.
                        <br><br>
                        В 2001 году ЮНЕСКО признало грузинскую песню шедевром устного нематериального наследия. Фольклорная музыка и пение в культуре Грузии имеют такое же большое значение, как и фантастическая еда, отличное вино и сердечные тосты, которыми славится страна. Характерной чертой народного пения стала завораживающая вокальная полифония, или многоголосие. Великолепные пронзительные тона грузинского многоголосия заставляют испытывать эстетическое наслаждение, и слезы наворачиваются на глаза.
                        <br><br>
                        Поездка не обойдется и без винных дегустаций. Вино в Грузии очень ценится и является неотъемлемой частью грузинского застолья.
                    </p>
                </div>
            </div>

            
        </div>
    </section>

