<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Забронируй участие в туре</h2>
                    <h3 class="section-subheading text-muted">
                        Оставьте заявку и внесите предоплату 30% от стоимости тура в течение 3 дней чтобы забронировать место.
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading"><br><br><br>Бронирование и оплата</h2>
                    <h4 class="section-heading text-muted">Стоимость тура для одного участника составляет <b>930 евро</b>.</h4>
                    <h5 class="section-subheading">Если Вы хотели бы поехать с членом семьи, другом/подругой,<br> свяжитесь с нами, возможны льготные ценовые предложения.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeHKavhc93MVhE7YVYVxoLXbtgnPTT7muS4XvS93dgBRoB5oQ/viewform?hl=ru&embedded=true" width="100%" height="1180" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
                        Телефон для дополнительной информации +37255994317
                    </h3>
                </div>
            </div>
            {% comment %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">
                        <a class="button" href="https://www.skyscanner.net/transport/flights/tll/tbs/200715/200722/?adults=1&cabinclass=economy&rtn=1#results" target='_blank'>Найти авиабилеты до Тбилиси &#9992;</a>
                        <br>
                    </h3>
                </div>
            </div> 
            {% endcomment %} 

        </div>
    </section>
