<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Программа</h2>
                    <h3 class="section-subheading text-muted">Даты проведения тура 27 октября - 2 ноября 2019</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/plane.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 октября</h4>
                                    <h4 class="subheading">Прибытие в Тбилиси</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Встреча в аэропорту и трансфер в Кахетию
                                        <br><br>
                                        Заселение в элегантный 4-звездочный Boutique Hotel <b>Sole</b>, который расположен в одном из престижных и красивейших районов Кахетии, на склоне Алазанской долины в городе Сигнаги.
                                        <br><br>
                                        <b>Совместный выход в ресторан.</b>Ужин и знакомство в сопровождении зажигательных грузинских танцев*
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/old.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>28 октября</h4>
                                    <h4 class="subheading">Кахетия</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастре-класс 1 с перерывом на кофе брейк.
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастре-класс 2 с перерывом на кофе брейк.
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gory.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29 октября</h4>
                                    <h4 class="subheading">Кахетия</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастре-класс 3 с перерывом на кофе брейк.
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастре-класс 4 с перерывом на кофе брейк.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/walls.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30 октября</h4>
                                    <h4 class="subheading">Кахетия</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастре-класс 5 с перерывом на кофе брейк.
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастре-класс 6 с перерывом на кофе брейк.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>31 октября</h4>
                                    <h4 class="subheading">Кахетия</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Мастре-класс 7 с перерывом на кофе брейк.
                                        <br><br>
                                        Перерыв на обед.
                                        <br><br>
                                        Мастре-класс 8 с перерывом на кофе брейк.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1 ноября</h4>
                                    <h4 class="subheading">Тбилиси</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2 ноября</h4>
                                    <h4 class="subheading">Теплое прощание</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Теплое прощание
                                        <br><br>
                                        Выезд в аэропорт
                                        <br><br>
                                        <b>NB!</b>
                                        Все, обозначенное *, не входит в стоимость тура. Порядок мероприятий в программе может меняться, но с сохранением всех указанных мероприятий.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image" style="padding-top:1em;">
                                <h4>Едем<br>вместе !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>