<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Программа</h2>
                    <h3 class="section-subheading text-muted">Даты проведения тура 23 мая - 30 мая</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/plane.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>23 мая</h4>
                                    <h4 class="subheading">Прибытие в Тбилиси</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Встреча в аэропорту и трансфер
                                        <br><br>
                                        Заселение в элегантный 4-звездочный отель <b>«Gallery Palace»</b>, который расположен в одном из престижных и красивейших районов Тбилиси, в самом центре города. 
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/old.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24 мая</h4>
                                    <h4 class="subheading">Экскурсия Тбилиси-Мцхета с профессиональным фотографом</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Поздний завтрак (до 12:00)
                                        <br><br>
                                        <b>Старый Тбилиси</b> — это место, где дух прошлого витает среди аутентичных построек из камня и глины, а атмосфера средневековья очаровывает путешественников. Кажется, что время замерло здесь навсегда. 
                                        <br><br>
                                        <b>«Дзвели калаки»</b> — так по-грузински называется квартал на берегу реки Кура (Мтквари) у подножия горы Мтацминда. Эту территорию город занимал в XII веке. Мы увидим храм Метехи, церковь Анчисхати, серные бани, кафедральный собор Сиони и дворец царицы Дареджан и многое другое.
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gory.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24 мая</h4>
                                    <h4 class="subheading">Мцхета</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        <b>Мцхета</b> — древняя столица Грузии и святое место для каждого грузина.
                                        Город называют «Вторым Иерусалимом». Именно сюда принесла благую весть святая Нино Каппадокийская, здесь хранится одна из величайших святынь христианского мира – Хитон Господень. Сюда стекаются христианские паломники и туристы со всего мира.
                                        <br><br>
                                        Мы посетим Монастырь - <b>храм Джвари</b> (крест). Древнейший культовый памятник, построенный на заре грузинского христианства в VI веке.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/walls.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24 мая</h4>
                                    <h4 class="subheading">Светицховели</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Затем мы посетим Кафедральный <b>собор Светицховели</b>. Этот храм является самым главным святилищем Грузии, здесь хранится Хитон Господень. История храма удивительна и не оставит ни одного туриста равнодушным.
                                        <br><br>
                                        Следующим пунктом назначения будет действующий мужской монастырь Шио Мгвиме.
                                        <br><br>
                                        <b>Совместный выход в ресторан.</b>Ужин и знакомство в сопровождении зажигательных грузинских танцев*
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25 мая</h4>
                                    <h4 class="subheading">Актерское мастерство</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак.
                                        <br><br>
                                        Лекция. <b>“Знакомство с профессией - Актер”, “Страхи”, “Внимание”, “Раскрепощение”.</b>
                                        <br><br>
                                        Перерыв на кофе брейк.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>25 мая</h4>
                                    <h4 class="subheading">Тренинги</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Осваиваем различные упражнения из программы первого семестра театрального ВУЗа.
                                        <br><br>
                                        Обед* 
                                        <br><br>
                                        Подготовили для вас <b>сюрприз</b> в сотрудничестве с грузинским театром.
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>26 мая</h4>
                                    <h4 class="subheading">Мастер-класс</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Мастер-класс и мини-лекция по <b>сценической речи и ораторскому искусству</b>.
                                        <br><br>
                                        Правильный красивый разговор привлекает людей и делает Вас более интересным собеседником. Уделим внимание тому, какие звуки психологически отпугивают собеседника, как говорить так, чтобы Вас хотелось слушать еще и еще.
                                        <b>Работа над дыханием, голосом, улучшение дикции</b>, произношения конкретных звуков, а также посыл с мышечной свободой. 
                                        <br><br>
                                        Перерыв на кофе брейк.
                                        <br><br>
                                        <b>Урок грузинского танца</b> (урок предназначен для женщин)
                                        <br><br>
                                        <b>Мастер-класс для мужчин</b>
                                        <br><br>
                                        Обед*
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>26 мая</h4>
                                    <h4 class="subheading">“Как уверенно выступать перед большой аудиторией”</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Вопрос “Где взять уверенность и как стать успешным в публичных выступлениях?” занимает многих. 
                                        <br><br>
                                        В программу включены специальные упражнения и способы снять напряжение перед выступлением. Конкретные методы, которые помогут установить контакт с аудиторией и обезоружить скептически настроенных слушателей.
                                        <br><br>
                                        <b>Актерское мастерство</b><br>
                                        Тема: “Внимание”, “Воображение, “Характер”, “Импровизация”
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 мая</h4>
                                    <h4 class="subheading">Cценическое движение</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Мастер-класс по сценическому движению. 
                                        Тема: <b>“Знакомство со своим телом”, “Импровизация”, “Невербальное общение”</b>
                                        <br><br>
                                        Перерыв на кофе брейк
                                        <br><br>
                                        <b>Урок грузинского танца</b> (урок предназначен для девушек)
                                        <br><br>
                                        <b>Мастер-класс для мужчин</b>
                                        <br><br>
                                        Обед*
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>27 мая</h4>
                                    <h4 class="subheading">Актерское мастерство</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Тема: <b>“Общение”, “Я в предлагаемых обстоятельствах”, “Этюды”</b>
                                        <br><br>
                                        Это практический тренинг, в рамках которого мы попробуем первые шаги в актерской профессии. Поймем, возможно ли перевоплотиться в другого человека. Разберем, как это делают профессиональные актеры. Узнаем некоторые секреты и сможем взглянуть на профессию актера изнутри.
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/mountains.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>28 мая</h4>
                                    <h4 class="subheading">Экскурсия на весь день. Кахетия - Сигнаги - Бодбе</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Выезд в Кахетию на комфортабельном автобусе в сопровождении гида и профессионального фотографа 
                                        <br><br>
                                        За время экскурсии мы посетим: Бодбе, Сигнаги, Цинандали
                                        <b>Кахети – винный регион</b>, расположенный на востоке Грузии. Тут вы узнаете вкус настоящего Грузинского вина.
                                        Археологические исследование доказывают, что традиции грузинского виноделия зарождались 7000 лет назад. Есть мнение, что слово “вино” (wine) происходит от грузинского слова “гвино”.
                                        <br><br>
                                        Первая остановка будет в городе <b>Сигнаги.</b>
                                        Этот небольшой городок называют “городом любви”. Его узкие мощеные улочки пропитаны уютом и теплом.
                                        Сигнаги расположен на вершине холма “Кахети” и окружен крепостной стеной, которую построил Царь Ираклий II в 18 веке. Со стен города открываются потрясающие виды Алазанской Долины.
                                        <br><br>
                                        Во время прогулки мы посетим женский <b>монастырь Бодбе.</b>
                                        Монастырь неописуемой красоты. От монастыря, по лесу, спускаются ступеньки к источнику Святой Нино.
                                        Следующая остановка – Цинандали.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/villa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>28 мая</h4>
                                    <h4 class="subheading">Кахетинский обед и кулинарные мастер-классы</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        В <b>Цинандали</b> находится поместье князей Чавчавадзе (19-го века). Это место во многом символичное для Грузии. Отсюда начиналась европеизация Грузии, Российско-Грузинская интеграция. В поместье часто собиралась знатные люди из России.
                                        Сегодня здесь находится дом – музей, большой парк с редкими растениями, старинный винный погреб.
                                        <br><br>
                                        <b>Кахетинский обед и кулинарные мастер-классы.</b>
                                        Мы научимся готовить шоти (грузинский хлеб), сделаем самые вкусные хинкали и приготовим чурчхелу на десерт и конечно же наш обед дополнит настоящее грузинское вино. 
                                        <br><br>
                                        Возвращение в отель
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>29 мая</h4>
                                    <h4 class="subheading">Актерское мастерство</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Актерское мастерство.
                                        Поделимся своими наработками. Обсуждение и подготовка совместного творческого проекта. 
                                        Вручение сертификатов о прохождении курса. Награждение активных участников.
                                        <br><br>
                                        Обед*
                                        <br><br>
                                        Актерское мастерство.
                                        Реализация своего творческого потенциала.
                                        Подводим итоги. Показываем, чему научились. Совместно подготавливаем небольшой творческий проект, где каждый примет самое непосредственное участие.
                                        <br><br>
                                        Свободное время
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sunset.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>30 мая</h4>
                                    <h4 class="subheading">Теплое прощание</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Завтрак
                                        <br><br>
                                        Теплое прощание
                                        <br><br>
                                        Выезд в аэропорт
                                        <br><br>
                                        <b>NB!</b>
                                        Все, обозначенное *, не входит в стоимость тура. Порядок мероприятий в программе может меняться, но с сохранением всех указанных мероприятий.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image" style="padding-top:1em;">
                                <h4>Едем<br>вместе !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>