<!-- Clients Aside -->
{% comment %}
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
{% endcomment %}



    <section id="clients" class="bg-light-gray">
        <div class="container">
            <div class="row text-center" style="margin-top:2em;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Организация проживания</h4>
                    <p class="text-muted">
                        Для участников тура мы выбрали элегантный отель в центре Тбилиси. Мы запланировали проживание в двухместных номерах. В отеле отличные условия проживания и комфортные условия для проведения тренингов и мастер-классов. Современный дизайн, бесплатный Wi-Fi и система климат контроля каждой комнаты создадут все необходимые удобства.
                        <br><br>
                        В отеле есть фитнес зал. На территории отеля также имеется терраса, где за бокалом Грузинского вина можно посмотреть на город, подышать свежим воздухом и просто расслабиться.
                        <br><br>
                        В гостинице выставлены уникальные картины известных грузинских художников мирового уровня. Вы сможете увидеть картины Кока Рамишвили, Коте Абхазы, Муртаз Швелидзе, Олег Тимченко, Миша Гогричиани и т. д. Работы этих художников продаются на аукционе «Сотбис» и выставляются на известных выставках, таких как - Art Dubai Contemporary.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Что включено в тур</h4>
                    <p class="text-muted">
                        Проживание и завтраки
                        <br><br>
                        Размещение в отеле и завтрак “шведский стол”
                        <br><br>
                        Развлечения
                        Все экскурсии по Тбилиси и Кахетии, кулинарные мастер-классы
                        <br><br>
                        Трансферы
                        <br><br>
                        Тренинги и лекции 
                        <br><br>
                        Услуги профессионального фотографа
                        <br><br>
                        <b>Что не включено в стоимость тура</b>
                        <br><br>
                        Перелеты, 
                        Обеды и ужины,
                        Совместный ужин в грузинском ресторане.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Развлечения и досуг в туре</h4>
                    <p class="text-muted">
                        Несомненно, с Грузией невозможно близко познакомиться за неделю, но мы приложим все силы для того, чтобы показать вам все лучшее и самое интересное. Мы запланировали для вас экскурсии по Сигнаги и Тбилиси. Вас ждут познавательные и душевные мастер-классы по приготовлению хинкали, чурчхелы и хачапури. 
                        <br><br>
                        Поездка не обойдется и без винных дегустаций. Вино в Грузии очень ценится и является неотъемлемой частью грузинского застолья.
                    </p>
                </div>
            </div>

            
        </div>
    </section>

