<div class="row bg-light-gray">
<div id="slider-container" class="col-md-12">

{% slider bullets %}

![](/img/gallery/IMG_6990.jpg)
![](/img/gallery/IMG_7039.jpg)
![](/img/gallery/IMG_7062.jpg)
![](/img/gallery/IMG_7234.jpg)
![](/img/gallery/IMG_7241.jpg)
![](/img/gallery/IMG_7292.jpg)
![](/img/gallery/IMG_7348.jpg)
![](/img/gallery/IMG_7354.jpg)
![](/img/gallery/IMG_7404.jpg)
![](/img/gallery/IMG_7410.jpg)
![](/img/gallery/IMG_7556.jpg)
![](/img/gallery/IMG_7561.jpg)
![](/img/gallery/IMG_7586.jpg)
![](/img/gallery/IMG_7603.jpg)
![](/img/gallery/IMG_7680.jpg)
![](/img/gallery/IMG_7766.jpg)

{% endslider %}

</div>
</div>