<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">О туре</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 2em;">
                        Актерские тренинги в сочетании с ошеломляющими красотами Грузии
                    </h3>
                    <p class="text-center">
                        В этом туре вам откроются секреты невероятно красивого города Тбилиси и уютного Сигнаги, расположенного на склоне горы, на террасах, соединяющихся извилистыми крутыми улицами. Вы увидите главный винодельческий регион Грузии - Кахетию, проведете незабываемые выходные в Тбилиси. И, конечно же, вкусите настоящее грузинское вино. Узнаете секреты приготовления вкуснейших хинкали, а на десерт самостоятельно приготовите сладкую чурчхелу. 
                    </p>
                </div>
            </div>
            <div class="row text-center" style="margin-top:2em;">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">27.10-02.11 2019, 7 ночей</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Грузия, Кахетия, Тбилиси</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Количество мест ограничено</h4>
                    <p class="text-muted"></p>
                </div>
            </div>

            <div class="row text-left" style="margin-top:2em;">
                <div class="col-md-4">
                    <p class="text-muted">
                        В рамках тура мы приоткроем завесу и расскажем, каким образом  профессиональные актеры перевоплощаются в своих персонажей. 
                        <br><br>
                        Вас ждут мастер-классы по техникам раскрепощения, устранению страхов, снятию зажимов. 
                        <br><br>
                        Поможем развить уверенность в себе и расскажем, как стать успешным в публичных выступлениях.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">
                        На тренингах и мастер-классах мы поговорим о различных техниках, которым учат будущих актеров. 
                        <br><br>    
                        Будем по-новому знакомиться с собой и окружающим миром. 
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-muted">
                        Кроме того, актерское мастерство помогает любому человеку раскрыть свой артистический дар и обучиться навыкам импровизации. 
                        <br><br>
                        Помимо основательной работы над собой, мы окунемся в самобытный мир Грузии. 
                    </p>
                </div>
            </div>  

            <div class="row" style="margin-top:2em;">
                <div class="col-lg-12 text-center">
                    <h4 class="text-center">
                        Незабываемые впечатления и новый опыт гарантируем!
                    </h4>
                </div>
            </div>

        </div>
    </section>
