<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Наша команда</h2>
                    <h3 class="section-subheading text-muted">Всегда рядом с вами</h3>
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/ivan.jpg" class="img-responsive img-circle" alt="">
                        <h4>Иван Алексеев</h4>
                        <p class="text-muted">Актер, танцор, педагог</p>
                        <p class="text-muted">
                            В 2011 году закончил Санкт-Петербургскую Государственную Академию Театрального Искусства, по специальности актер театра и кино. Мастерская А. М. Зеланда.
                            <br><br>
                            1998-2008 студия “Элегия” - бальные танцы
                            Призер конкурса “Lorraine Trofe” 2004 и 2005,
                            Чемпион Санкт-Петербурга по бальным танцам 2005 г. (по версии МАСТ).
                            <br><br>
                            В Русском Театре Эстонии с 2011 года. За это время было сыграно 34 роли в таких спектаклях как:
                            Н.Гоголь “Игроки” - Кругель, Алексей (Реж. С.Федотов)
                            А.Дюма “Три мушкетёра” - Арамис (Реж. Н.Лапина)
                            О.Экхольм “ЛИСная сказка” - петушок, зайчик Юкке, Жан (Реж. Е.Гороховская)
                            А.Островский “Лес” - Пётр (Реж. Н.Лапина)
                            В.Гауф “Холодное сердце” - Петер Мунк
                            М.Булгаков “Зойкина квартира” - Херувим, ГПУ (Реж. С.Федотов)
                            М. МакДонах “Человек-подушка” - Михал (Реж. И.Стрелкин)
                            В.Пелевин "Омон Ра" - Дима Матюшевич (Реж. Н.Бетехтин)
                            П.Демирский “Не удивляйся, когда придут поджигать твой дом”  - Директор (Реж. Ю.Муравицкий)
                            и.т.д
                            <br><br>
                            Кино и телевидение:
                            В 2014 году фильм “<a href="http://allfilm.ee/work/ivans-day/" target="_blank">Ivan’s day</a>” на фестивале PÖFF был признан лучшим короткометражным фильмом года.
                            <br><br>
                            Актер Иван Алексеев читает "<a href="https://www.youtube.com/watch?v=4XAdWupf6Ek" target="_blank">Послушайте!</a>" Владимира Маяковского
                            <br><br>
                            Телепередача "<a href="https://rus.err.ee/880325/grimerka-zhilenko-zandberg-i-alekseev-rasskazali-o-novinkah-v-repertuare-russkogo-teatra" target="_blank">Гримерка</a>" с Иваном Алексеевым, Александром Жиленко и Даниилом Зандбергом
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/mihail.jpg" class="img-responsive img-circle" alt="">
                        <h4>Михаил Арджеванидзе</h4>
                        <p class="text-muted">Наш гид в Кахетии</p>
                        <p class="text-muted">
                            В 1995 году окончил Академию искусств им. М. Паниашвили, актерский факультет.
                            <br><br>
                            С 1993 года – актер Тбилисского государственного театра юного зрителя имени Н. Думбадзе.
                            <br><br>
                            С 2003 года – актер Тбилисского государственного академического русского драматического театра им. А.С. Грибоедова
                        </p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/tornike.jpg" class="img-responsive img-circle" alt="">
                        <h4>Торнике Катамадзе</h4>
                        <p class="text-muted">Фотограф</p>
                        <p class="text-muted">
                            Во время экскурсий группу сопровождает профессиональный фотограф. Торнике обладает прекрасным качеством расположить людей к себе. Он давно увлечен фотографией, уверен, что в любых обстоятельствах найдется возможность сделать удачный кадр.
                        </p>
                    </div>
                </div>

            </div>

            {% comment %}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
            {% endcomment %}
        </div>
    </section>